/* colors
Dark: #2E332D
Orange: #E26C0D
Red: #C43B13
Green #53610B
Whiteish: #FCFFFA
*/

body {
  background-color: #2E332D;
}

#builder, #pizza-cart {
  background-color: #FCFFFA;
  padding-bottom: 1rem;
  border: solid #E26C0D .5rem;
}

#pizza-cart {
  border: solid #53610B .5rem;
  text-align: center;
}

.submit {
  padding: 1rem 5rem;
  margin: 1rem auto;
  border: solid #2E332D;
  text-align: center;
  background-color: #E26C0D;
  color: #FCFFFA;
  font-weight: bold;
  border-radius: 1rem;
}

.submit:hover {
  cursor: pointer;
  background-color: #53610B;
}

.header {
  background-color: #FCFFFA;
  padding:0 1rem;
  margin-bottom: 1rem;
  border: solid #C43B13 .5rem;
  border-top: none;
}

#selection {
  font-size: min(max(1rem, 5vw), 48px);
  margin-top: 2.8rem;
  background-color: #53610B;
  color: #FCFFFA;
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 2.5rem;
  border:dashed #C43B13 .5rem;
  font-weight:bold;
}